/* BaseClass */
.sp-btw {
	justify-content: space-between;
}
.dis-fl {
	display: flex;
}

/* HEADER */
.header-bg {
	background-image: url(../img/header-bg.jpg);
	width: 100%;
	height: 900px;
	background-size: cover;
	background-position: center;
}
.header-container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	align-items: center;
	padding-top: 59px;
	position: sticky;
    top: -59px;
	
}
.navi {
	
}
.nav-ul {

}
.nav-li {
    margin-right: 30px;
}
.nav-li:nth-child(4) {
	margin-right: 0;
}
.nav-a {
	font-size: 12px;
	color: #D9F0FF;
	font-family: 'Poppins-M';
}
.burger-icon {
	color: #D9F0FF;
	font-size: 30px;
	display: none;
}
.h1-box {
	text-align: center;
}
.header-h1 {
	font-size: 100px;
	color: #FFFFFF;
	font-family: 'Lato-L';
	margin-top: 180px;
}
/* section-1 */
.section-1-container {
   
}
.section-1-box {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
}
.section-1-p {
	max-width: 468px;
	width: 100%;
	font-size: 50px;
	font-family: 'Lato-L';
	color: #000000;
	margin-bottom: 24px;
}
.section-1-p2 {
	max-width: 457px;
	width: 100%;
	height: 128px;
	font-size: 16px;
	font-family: 'Poppins-R';
	color: #000000;
}
.botom {
	max-width: 307px;
	width: 100%;
	height: 72px;
	background-color: #325DFF;
	border-radius: 35px;
	border-color: #707070;
	justify-content: center;
	align-items: center;
}
.botom-a {
	font-size: 14px;
	font-family: 'Lato-B';
	color: #FFFFFF;
}
.section-img {
	
}
/* section-2 */
.section-2 {
	flex-direction: column;
	text-align: center;
	background-color: #FAFAFA;
}
.section-2-wrap {
	max-width: 771px;
	width: 100%;
	height: 130px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 77px;
}
.section-2-h2 {
	font-size: 35px;
	font-family: 'Lato-L';
	color: #000000;
}
.section-2-p {
	font-size: 16px;
	font-family: 'Poppins-R';
	color: #000000;
}
.section-2-container {
	max-width: 1171px;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	padding-top: 62px;
}
.section-2-box {
	max-width: 371px;
	width: 100%;
	height: 374px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #FFFFFF;
}
.ring {
	max-width: 88px;
	width: 100%;
	height: 88px;
	border-radius: 100%;
	background-color: #325DFF;
	justify-content: center;
	align-items: center;
}
.box-h2 {
	font-size: 18px;
	color: #000000;
	font-family: 'Lato-R';
}
.box-p {
	max-width: 251px;
	width: 100%;
    font-size: 16px;
	color: #000000;
	font-family: 'Poppins-L';
}